.sol198{
    display: flex;
    position: relative;
    background-color:lightblue;
    border-radius: 30px;
    height: 400px;
    width: 1180px;
    margin-left: 10px;
    padding-top: 40px;
}

.leftsol{

   color: gray;
    margin-left: 30px;
    margin-top: 30px;
}

.right231 img{
    width: 500px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 40px;
}

.leftsol h1{
 margin-left: 10px;
 font-weight: bolder;
 color: #131E3A;
}

.connect{
    margin-left: 50px;
}



@media (max-width: 657px) {


.sol198{
    display: flex;
    flex-direction: column;
    height: 850px;
    width: 350px;
    margin-left: 10px;
    
}

.right231 img{
    margin-left: 20px;
    width: 320px;
    
}





}